div
{
	margin-left: 30%;
    margin-right: 30%;
    background-color: cadetblue;
    padding: 30px;
}

h3
{
	background-color: green;
    text-align: center;
    color: white;
    padding: 15px;
    border: groove;
}

body
{
	margin-left: 200px;
    margin-right: 200px;
}