<!--{% load static %}-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Restaurant
   <!-- <img src="{% static 'images/res.jpg' %}" alt="logo" style="width:40px;">-->
  </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <!-- Links -->
  <ul class="navbar-nav">
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ab' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ct' %}">Contact</a>
    </li>
     <li class="nav-item">
      <a href="{% url 'reg' %}" class="nav-link">Registration</a>
    </li>
    {% elif user.role == 2 %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm' %}">Home</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'rl' %}" class="nav-link">Restaurant list</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'il' %}" class="nav-link">Items list</a>
    </li>
    {% elif user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'gvpr' %}">permissions</a>
    </li>
    {% elif user.role == 3 %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'fd' %}">Feedback</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'rlrq' %}">Role Request</a>
    </li>
    {% endif %}
  </ul>
  <ul class="navbar-nav ml-auto" style="margin-right: 120px">
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'lg' %}">Login</a>
    </li>
    {% else %}

    <div class="dropdown">
  <li class="nav-link dropdown-toggle" data-toggle="dropdown">
   <!-- welcome{% if user.role == 3 %}
    <span>User</span>
    {% elif user.role == 2%}
    <span>Manager</span>
    {% elif user.is_superuser %}
    <span>Admin</span>
    {% else %}
    <span>Guest</span>
    {% endif %}-->
    <img src="{{user.uimg.url}}" class="rounded-circle" height="30px">
    {{request.user.username}}
  </li>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'pf' %}">profile</a>
    <a class="dropdown-item" href="{% url 'chpwd' %}">change password</a>
    <a class="dropdown-item" href="{% url 'lgo' %}">logout</a>
  </div>
</div>
    {% endif %}
  </ul>
</div>
</nav>