{% extends 'code/base.html' %}
{% block title %}About Page{% endblock %}
{% block content %}
<div class="container mt-4">
	<h3 class="text-center bg-dark text-light">Welcome to About page</h3>
	<div class="card bg-primary">
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIqzPnxNt51e9nRPs97qAplWFBmFcNGvqZsg&usqp=CAU" style="height:42%">
				</div>
				<div class="col-md mx-auto mx-2">
					<h4>Hospitals Enterprise Limited is an Indian multinational hospital chain headquartered in Chennai, Tamil Nadu, India. It was founded by Prathap C. Reddy in 1983 as the first corporate healthcare provider in India. Several of the hospitals have been among the first in India to receive international healthcare accreditation by the America-based Joint Commission International (JCI) [3][4] as well as 13 NABH National Accreditation Board for Hospitals & Healthcare Providers hospitals.[5] In addition to providing hospitals, Apollo has developed services in telemedicine, after starting a pilot project in 2000 at Aragonda, Prathap Reddy's home village.[6] Hospital signed an MoU with Health Education England in April 2017 to provide a large number of doctors to fill vacancies in the English National Health Service.[7] In association with Adlux Angamaly, Apollo Hospitals established the Apollo Adlux Hospital in the city of Kochi, near Cochin International Airport.[8][9]</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md bg-warning mt-4">
		<h3 style="margin-left:35%">CONTACT</h3><br>
		<div class="row">
		<h5 class="col text-center">HelpLine:</h5> 
		<h5 class="col">1860 500 1066</h5>
		</div>
		<div class="row">
		<h5 class="col text-center">Visit us at:</h5>
		<h5 class="col"><a href="https://www.hospitals.com/" target="_blank">Hospitals</a></h5>
		</div>
	</div>
</div>
{% endblock %}