{% extends 'code/base.html' %}
{% block title %}Doctors list {% endblock %}
{% block content %}
<div class="container mt-4">
	{% if messages %}
	{% for m in messages %}
	<div class="alert alert-{{m.tags}} alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{m}}
	</div>
	{% endfor %}
	{% endif%}
	<div class="row">
	<div class="card col-md-4 mx-2 shadow-lg h-100">
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
			<h3 class="bg-info text-light text-center"> Add Doctors</h3>
			{% for j in q %}
			{{j}}
			{% endfor %}
			<div class="row">
					<div class="col">
						<input type="reset" name="reset" class="btn btn-outline-info my-2  form-control">
					</div>
					<div class="col">
						<input type="submit" value="Enter details" class="btn btn-outline-success form-control my-2 ">
					</div>
				</div>
		</form>
		</div>
	</div>
	<div class="col-md shadow-lg mx-2">
		<div class="card-body">
			<h3 class=" text-center text-light bg-danger p-2 border rounded">List of Doctors</h3>
				<table class="table table-borderless table-hover">
					<tr class="bg-dark text-light">
						<th>S.NO</th>
						<th>Doc name</th>
						<th>Specialization</th>
						<th>exp</th>
						<th>timmings</th>
						<th>Actions</th>
					</tr>
					{% for k in a %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td ><a href="{% url 'dv' k.id %}">{{k.dname}}</a></td>
						<td>{{k.special}}</td>
						<td>{{k.exp}}</td>
						<td>{{k.tfrom}} to {{k.tto}}</td>
						<td><a href="{% url 'dup' k.id %}" class="btn btn-outline-warning ">Update</a>
							<a href="{% url 'ddl' k.id %}" class="btn btn-outline-danger mx-2 ">Delete</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
</div>
</div>
{% endblock %}