{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> Bootstrap example</title>
	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<div class="container mt-4">
		<div class="row text-center text-light ">
			<div class="col bg-success mx-2 border rounded p-3">
				<h2>first division</h2>
			</div>
			<div class="col bg-info mx-2 border rounded p-3">
				<h2>second division</h2>
			</div>
			<div class="col bg-secondary mx-2 p-3 border rounded">
				<h2>third division</h2>
			</div>
		</div>
		<div class="row text-center">
			<div class="col bg-warning mx-2">
				<h2>fourth division</h2>
				<div class="row">
					<div class="col mx-2 bg-danger my-2">
						<h2>fourth-A</h2>
					</div>
					<div class="col mx-2 bg-secondary my-2">
						<h2>fourth-B</h2>
					</div>
				</div>
			</div>
			<div class="col bg-danger mx-2">
				<h2>fifth division</h2>
			</div>
		</div>
		<div class="row">
			<div class="col card bg-info mx-2 shadow-lg">
				<div class="card-body">
					<h3 class="bg-danger text-light p-2 text-center border rounded">login</h3>
					<form class="col-md-10 mx-auto">
						<input type="text" name="" placeholder="enter username" class="form-control my-2">
						<input type="password" name="" placeholder="enter password" class="form-control my-2">
						<div class="row">
							<div class="col-sm">
								<input type="reset" name="reset" class="btn btn-outline-warning col-sm my-2">
							</div>
							<div class="col-sm">
								<input type="submit" name="submit" class="btn btn-outline-danger col-sm my-2">
							</div>
						</div>
						<input type="submit" name="" value="forgot password" class="btn btn-outline-success form-control my-2">
					</form>
				</div>
			</div>
			<div class="col card md-6 bg-warning mx-2 ">
				<div class="card-body">
				<h2>registration form</h2>
				<form>
					<input type="type" name="" placeholder="enter username" class="form-control my-2">
					<input type="password" name="" placeholder="enter password" class="form-control">
					<div class="row">
						<div class="col-sm">
							<input type="number" name="" placeholder="enter number" class="form-control  my-2 ">
						</div>
						<div class="col-sm">
							<select class="form-control my-2">
								<option value="male">male</option>
								<option value="female">female</option>
							</select>
							
						</div>
					</div>
					<input type="email" name="" placeholder="enter emailid" class="form-control my-2">
					<input type="submit" name="register" class="btn btn-block btn-outline-success my-2 ">
				</form>
			    </div>
			</div>
		</div>
	</div>
</body>
</html>