<!DOCTYPE html>
<html>
<head>
	<title>Display Info</title>
</head>
<body>
	<h2>Hi {{fname}}</h2>
	<table border="1">
		<tr>
			<thead>
				<th>first name</th>
				<th>last name</th>
				<th>email id</th>
				<th>phone number</th>
				<th>gender</th>
				<th>Address</th>
				<th>languages</th>
				<th>choosen language</th>
			</thead>
		</tr>
		<tr>
			<tbody>
				<td>{{fname}}</td>
				<td>{{lname}}</td>
				<td>{{emailid}}</td>
				<td>{{number}}</td>
				<td>{{gender}}</td>
				<td>{{address}}</td>
				<td>{{language}}</td>
				<td>{{clanguage}}</td>
			</tbody>
		</tr>
	</table>
</body>
</html>