<!DOCTYPE html>
<html>
<head>
	<title>Employee details</title>
	<style type="text/css">
		p
		{
			text-align:center;
			background-color:cadetblue;
			padding:23px;
			margin-left:30%;
			margin-right:30%;
		}
		#sample
		{
			margin-left:30%;
			margin-right:30%;
			background-color: green;
			padding:12px;
			text-align:center;
		}
		.sa
		{
			margin-right:20%;
			text-align:center;
			color:green;
			background-color:yellow;
		}


	</style>
</head>
<body>
<h3>Your name is: <span style="color:blue">{{n}}</span></h3>
<h3 style="text-align:center">Your id is: {{i}}</h3>
<h1>Internal</h1>
<p>This is an example of internal styling based on tag</p>
<h4 id=sample>this is an example of internal styling based on id</h4>

<h4 class='sa'> this is an example of internal styling based on class</h4>
<p class='sa'>this is a example</p>
<h1 class='sa'> hi welcome ramya</h1>
</body>
</html>