{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>internal java script</title>
	<script type="text/javascript">
		function generateMSG()
		{
			alert('you got it.......');
		}
	</script>
	<script type="text/javascript" src="{% static 'js/myscript.js' %}"></script>
</head>
<body>
	<h2>please click this button to get internal js alert</h2>
	<input type="button" name="button" value="click me" onclick="generateMSG()">
	<h2>please click this button to get alert from external js</h2>
	<input type="button" name="button" value="press me" onclick="display()">
</body>
</html>