<!DOCTYPE html>
<html>
<head>
	<title>MY HTML FORM</title>
</head>
<body>
	<form action="{% url 'myform' %}" method="post">
		{% csrf_token %}
		<label>student name:</label>
		<input type="text" name="name" placeholder="enter username"><br><br>
		<label>rollno:</label>
		<input type="text" name="rollno" placeholder="enter rollno"><br><br>
		<label>Email Id:</label>
		<input type="email" name="mailid" placeholder="enter mailid"><br><br>
		<input type="submit" name="submit" value="submit">
	</form>
</body>
</html>